.aside {
    &__heading {
        text-transform: uppercase;
        font-size: 2.2rem;
        letter-spacing: 1px;
        color: #4A4A4A;
        margin: 0 0 2rem 0;
    }

    &__follow-me {
        margin-top: 4rem;

        &__icons {
            display: flex;
            align-items: center;
            margin: -0.6rem;

            a {
                margin: 0.6rem;
                width: 37px;
                height: 37px;
                background-color: #D8D8D8;
                border: 1px solid #CACACA;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: all 0.15s ease-out;

                &:hover {
                    background-color: lighten(#D8D8D8, 3%);
                }
            }
        }
    }

    &__divider {
        margin: 4rem 0;
        background: url(../images/icons/curvy_line_short.svg) no-repeat;
        width: 200px;
        height: 10px;
    }
}

.events {
    margin-top: 4rem;

    &__item {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__date {
        margin-right: 2rem;

        > span {
            display: block;
        }

        .day {
            font-size: 2.2rem;
            margin-top: -1rem;
        }
    }

    &__name {
        font-size: 1.6rem;
        margin: 0;
    }
}
