.footer {
    margin: 8rem 0 5rem 0; 

    .aside {
        margin-bottom: 8rem;

        @media (min-width: $screen-xs) {
            display: flex;
            align-items: flex-start;
        }

        @media (min-width: $screen-md) {
            display: none;
        }

        &__follow-me {
            @media (min-width: $screen-xs) {
                margin: 0 8rem 0 0;
            }
        }

        &__divider {
            @media (min-width: $screen-xs) {
                display: none;
            }
        }
    }

    &__legal {
        font-size: 1.5rem;

        p {
            margin: 0.8rem 0;

            @media (min-width: $screen-md) {
                margin: 0.4rem 0;
            }
        }

        a {
            color: $color-primary;
        }

        .divider {
            margin: 0 0.5rem;
        }
    }

    &__links {
        margin-right: 1rem;
    }

    &__credit {
        color: lighten($color-base, 10%);

        a {
            color: $color-base;
        }
    }
}
