.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    margin-bottom: 3rem;

    @media (min-width: $screen-md) {
        width: 25%;
        display: block;
        padding: 0;
    }

    @media (min-width: $screen-lg) {
        width: 20%;
    }

    &__logo {
        font-weight: 500;
        display: block;        

        &__heading {
            font-size: 2.4rem;
            color: $color-primary;
            line-height: 1.3;

            @media (min-width: $screen-md) {
                font-size: 2.8rem;
            }
        }

        &__subheading {
            font-size: 2.0rem;
            letter-spacing: 2.2px;
            color: #454545;

            @media (min-width: $screen-md) {
                font-size: 2.4rem;
            }
        }
    }

    &__menu-button {
        @media (min-width: $screen-md) {
            display: none;
        }
    }

    &__nav {
        display: none;

        @media (min-width: $screen-md) {
            display: block;
            margin-top: 4rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            font-size: 2.4rem;
            display: block;
            padding: 0.8rem 0;
            letter-spacing: 2.5px;
            color: #D1D1D1;

            @media (min-width: $screen-md) {
                padding: 0.3rem 0;
                font-size: 2.4rem;
                color: #696969;
            }
        }

        .current-menu-item a {
            color: lighten(#D1D1D1, 15%);

            @media (min-width: $screen-md) {
                color: darken(#696969, 15%);
            }
        }
    }

    .aside {
        display: none;

        @media (min-width: $screen-md) {
            display: block;
        }
    }
}
