.container {
    max-width: $screen-lg;
    margin: 0 auto;
    padding: 0 3rem;

    @media (min-width: $screen-lg + 40) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.page-container {
    @media (min-width: $screen-md) {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
    }
}

.main {
    @media (min-width: $screen-md) {
        width: 72%;
    }
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;

    &__squiggly {
        width: 50px;
        height: 15px;
        background: url(../images/icons/curvy_line_long.svg) no-repeat center;
        background-size: contain;

        @media (min-width: $screen-xs) {
            width: 70px;
        }
    }

    &__squiggly-right {
        transform: scaleX(-1);
    }

    &__headline {
        margin: 0 2rem;
        font-size: 3.2rem;

        @media (min-width: $screen-xs) {
            font-size: 4.0rem;    
        }
    }
}
