.post {
    &__meta {
        font-size: 1.8rem;
        color: lighten($color-base, 50%);
    }

    &__date-posted {
        color: $color-base;
    }

    a {
        color: $color-primary;
    }
}

.blog-feed {
    &__item {
        margin-bottom: 5rem;

        &.has-post-thumbnail {
            @media (min-width: $screen-sm) {
                display: flex;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &__image {
            display: block;
            height: 25rem;
            background-size: cover;
            margin-bottom: 2rem;

            @media (min-width: $screen-sm) {
                margin: 0 4rem 0 0;
                height: 22rem;
                width: 35%;
            }
        }

        &__content {
            @media (min-width: $screen-sm) {
                flex: 1;
            }
        }

        &__title {
            font-size: 3rem;
            margin: 0 0 1rem 0;
            font-style: italic;
        }

        &__excerpt {
            margin-top: 2rem;
        }
    }

    &__links {
        margin-top: 3rem;
        font-size: 1.8rem;

        a {
            color: $color-primary;
        }

        .page-numbers {
            margin: 0 0.2rem;
        }

        .prev {
            margin: 0 0.5rem 0 0;
        }

        .next {
            margin: 0 0 0 0.5rem;
        }
    }
}

.blog-single {
    &__image {
        margin-bottom: 3rem;

        @media (min-width: $screen-sm) {
            float: left;
            margin: 0 4rem 4rem 0;
            width: 45%;
        }

        @media (min-width: $screen-lg) {
            width: 42%;
        }
    }

    &__title {
        margin: 0 0 2rem 0;
        color: $color-primary;
        font-style: italic;
        font-size: 4.4rem;
        font-weight: 300;
    }

    .post__meta {
        font-size: 2rem;
    }

    &__content {
        margin-top: 3rem;
        transition: max-height 0.2s ease-out;
    }

    .at-above-post {
        margin-bottom: 4rem;
        
        @media (min-width: $screen-sm) {
            clear: none !important;
        }

        .atclear {
            @media (min-width: $screen-sm) {
                clear: none;
            }
        }
    }

    .at-below-post {
        margin-top: 4rem;
    }
}

body.not-subscribed-to-blog .blog-single {
    &__content {
        overflow: hidden;
        max-height: 200px;
        position: relative;
        mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
}

.blog-cta {
    @media (min-width: $screen-sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--feed {
        margin-bottom: 3rem;

        @media (min-width: $screen-sm) {
            margin-bottom: 5rem;
        }
    }

    &__header {
        margin: 6rem 0 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $screen-sm) {
            clear: both;
        }

        &__heading {
            font-size: 2.8rem;
            color: $color-primary;
            font-style: italic;
            margin: 0 1.5rem;
        }

        &__squiggly {
            width: 50px;
            height: 15px;
            background: url(../images/icons/curvy_line_short.svg) no-repeat center;
            background-size: contain;
        }

        &__squiggly-right {
            transform: scaleX(-1);
        }
    }

    &__copy {
        font-size: 1.8rem;

        @media (min-width: $screen-sm) {
            width: 36%;
            margin-right: 3rem;
        }
    }

    &__fields {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @media (min-width: $screen-sm) {
            flex-wrap: nowrap;
            margin-top: 0;
        }

        fieldset {
            margin: 0 2rem 2rem 0;

            @media (min-width: $screen-sm) {
                margin: 0 3rem 0 0;
            }
        }
    }
}
