.ui-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: all 0.15s ease-out;
    font-family: $font-heading;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.5px;

    &:active, &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }

    &--primary {
        font-size: 2.0rem;
        padding: 0.8rem 3.2rem;
        background: $btn-primary-bg;
        color: $btn-primary-color;
        border: 1px solid darken($btn-primary-bg, 5%);

        &:hover {
            background: darken($btn-primary-bg, 5%);
            color: $btn-primary-color;
        }

        &:active, &:visited, &:focus {
            color: $btn-primary-color;
        }
    }

    &--secondary {
        font-size: 1.8rem;
        padding: 1.0rem 1.8rem;
        background: $btn-secondary-bg;
        color: $btn-secondary-color;
        border: 1px solid darken($btn-secondary-bg, 5%);

        &:hover {
            background: darken($btn-secondary-bg, 5%);
            color: $btn-secondary-color;
        }

        &:active, &:visited, &:focus {
            color: $btn-secondary-color;
        }
    }
}
