fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

.sr-only {
    display: none;
}

input, textarea {
    background: none;
    padding: 1.2rem 0 0.8rem 0;
    width: 100%;
    font-size: 1.8rem;
    border: none;
    border-bottom: 1px solid lighten(black, 50%);
    transition: all 0.15s ease-out;
    border-radius: 0;

    &::placeholder {
        color: lighten($color-base, 20%);
    }

    &:focus {
        outline: none;
        border-bottom: 1px solid $color-primary;
    }

    &.error {
        border-color: darken(red, 10%);
    }
}

button[type=submit] {
    &.loading {
        cursor: wait !important;
    }
}
