.mobile-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #363636;
    align-items: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    padding: 5rem;
    opacity: 0;
    visibility: hidden;

    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background: none;
        padding: 1rem;
    }

    .header__nav {
        display: block;
        transform: translateY(-20%);
        transition: all 0.2s ease-in-out;
    }

    &--open {
        visibility: visible;
        opacity: 1;

        .header__nav {
            transform: translateY(0);
        }
    }
}