.contact {
    @media (min-width: $screen-lg) {
        display: flex;
        justify-content: space-between;
    }

    &__intro {
        @media (min-width: $screen-lg) {
            width: 45%;
        }
    }
}

.contact-form {
    margin-top: 5rem;

    @media (min-width: $screen-lg) {
        width: 45%;
        margin-top: 0;
    }

    &__text-fields {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        fieldset {
            margin-bottom: 2rem;
            width: 100%;

            @media (min-width: $screen-xs) {
                width: 47%;
            }
        }
    }

    &__cta {
        margin-top: 3rem;

        @media (min-width: $screen-xs) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }   
    }

    &__submit {
        margin-right: 3rem;
    }

    &__feedback {
        font-size: 1.8rem;
        margin-top: 2rem;
        line-height: 1.2;

        @media (min-width: $screen-xs) {
            margin-top: 0;
            max-width: 18rem;
        }
    }
}
