.services {
    &__home {
        .page-header {
            margin-top: 5rem;
        }
    }

    &__list {
        @media (min-width: $screen-sm) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        margin-bottom: 5rem;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $screen-sm) {
            width: 47%;
            margin: 0;
        }
    }

    &__heading {
        margin: 0 0 2rem 0;
    }

    &__description {
        @media (min-width: $screen-sm) {
            min-height: 25rem;
        }
    }

    &__divider {
        border-bottom: 1px solid darken(white, 40%);
        width: 10rem;
        height: 1px;
        margin: 3rem 0 5rem 0;
    }

    &__cta {
        margin-top: 4rem;
        text-align: right;
    }
}
