html {
    font-size: 10px;
    box-sizing: border-box;

    @media (max-width: $screen-lg) {
      font-size: 9px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-base;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: $color-base;
    background: url(../images/page_bg.jpg) repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: $font-heading;
    font-weight: 400;
    line-height: 1.1;
    color: lighten(black, 35%);

    strong {
        font-weight: 500;
    }
}

h2 {
    font-size: 2.8rem;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:visited, &:active, &:focus {
        color: inherit;
        text-decoration: none;
        outline: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}
