// fonts
$font-base: 'Cormorant', sans-serif;
$font-heading: 'Cormorant', sans-serif;

// colors
$color-primary: #5D1401;
$color-base: lighten(black, 10%);

// layout
$ui-border-radius: 3px;
$header-height: 8rem;
$header-height-sticky: 6rem;
$sidebar-width: 30rem;

// screen sizes
$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// buttons
$btn-primary-bg: $color-primary;
$btn-primary-color: darken(white, 5%);
$btn-secondary-bg: #383838;
$btn-secondary-color: darken(white, 10%);
